.App {
  text-align: center;
}

.project-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

img.cover-image {
  width: 100%;
  height: 18em;
  border-bottom: 1px solid;
}

section.project-item {
  border: 2px groove black;
  border-radius: 10px;
  width: 40em;
  height: 25em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: white;
}

.contact-links {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio,
.project-menu {
  border-bottom: 5px groove black;
}

img.professional-photo {
  width: 10%;
  border: 3px solid blue;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 5px 5px 5px black;
}

h1.name,
.job-title {
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1.name {
  font-size: 48px;
  text-shadow: 2px 2px 4px #fff;
}

h1.job-title {
  font-size: 36px;
}

a.contact-link {
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  margin: 2px;
}

a.contact-link:hover {
  color: white;
  text-decoration: underline;
}

img.contact-logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

section.what-i-do {
  margin: 5vh;
  border: 3px groove black;
  border-radius: 10px;
  background-color: white;
}

a.project-title {
  color: black;
  text-decoration: none;
}

a.project-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
