html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.project-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

img.cover-image {
  width: 100%;
  height: 18em;
  border-bottom: 1px solid;
}

section.project-item {
  border: 1px groove black;
  width: 40em;
  height: 27.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: white;
  transition: box-shadow 1s linear;
}

section.project-item:hover {
  box-shadow: 0 0 6px rgb(74, 200, 250);
  border: none;
}

section.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio,
.project-menu {
  border-bottom: 5px double black;
}

img.professional-photo {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 10px;
  margin-top: 75px;
  box-shadow: 5px 5px 5px black;
  animation: rise 1s;
  animation-iteration-count: 1;
}

h1.name,
.job-title {
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1.projects-heading,
.contact-heading {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: normal;
}

h1.name {
  font-size: 48px;
  text-shadow: 2px 2px 4px #fff;
  transition: font-size 250ms linear;
}

h1.name:hover {
  text-shadow: none;
  font-size: 52px;
}

a.name-link {
  color: black;
  text-decoration: none;
}

a.name-link:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  text-shadow: none;
}

h1.job-title {
  font-size: 36px;
}

a.contact-link {
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  margin: 30px;
  border-radius: 3px;
}

a.contact-link:hover {
  color: white;
  box-shadow: 0 0 8px #fff;
}

img.contact-logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

section.what-i-do {
  margin: 5vh;
  border: 1px groove black;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 5px black;
}

p.what-i-do {
  font-style: italic;
  font-weight: 500;
}

span.html {
  color: darkorange;
}

span.css {
  color: #2862e9;
}

span.js {
  color: #cbbd11;
}

span.ror {
  color: crimson;
}

span.rr {
  color: #8400e5;
}

a.project-title {
  color: black;
  text-decoration: none;
  font-style: italic;
  margin-top: -20px;
}

a.project-title:hover {
  text-shadow: 2px 2px 4px rgb(35, 135, 173);
  cursor: pointer;
}

p.project-desc {
  margin-top: -20px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

a.live-demo {
  color: rgb(74, 200, 250);
  text-decoration: none;
  border-radius: 3px;
  padding: 3px;
  transition: background-color 250ms linear, color 250ms linear;
}

a.live-demo:hover {
  font-weight: 500;
  color: #fff;
  background-color: rgb(74, 200, 250);
}

img.lang-image {
  width: 30px;
  margin: 0 0 5px 0;
  border-radius: 5px;
  border: solid 2px rgb(74, 200, 250, 0.5);
}

section.lang-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 5vw;
}

nav.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: white;
  animation: navbar 0.5s;
  animation-iteration-count: 1;
}

nav.navbar-grey {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
}

a.navlink {
  color: orangered;
  text-decoration: none;
  opacity: 1;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 3px;
  border-radius: 3px;
  font-weight: 500;
  text-shadow: 1px 1px #000;
  box-shadow: 0 0 3px;
  transition: text-shadow 0.25s linear;
  animation: navlinks 1s;
  animation-iteration-count: 1;
}

a.navlink:hover {
  text-shadow: none;
  box-shadow: none;
}

a.navlink::after {
  content: '';
  height: 2px;
  width: 0%;
  background-color: orangered;
  display: block;
  transition: width 0.25s ease-in-out;
}

a.navlink:hover::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: orangered;
  display: block;
}

p.hiddenlink {
  opacity: 0;
  font-size: 16px;
  cursor: default;
  padding: 3px;
  font-weight: 500;
}

@keyframes navlinks {
  from { transform: scale(0.25); }
  to { transform: scale(1); }
}

@keyframes navbar {
  from { background-color: rgba(255, 255, 255, 0); }
  to { background-color: white; }
}

@keyframes rise {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1280px) and (min-width: 900px) {
  section.project-item {
    width: 32em;
    height: 22em;
  }

  section.project-item:hover {
    width: 32.5em;
    height: 22.5em;
  }

  img.cover-image {
    height: 14.4em;
  }

  img.lang-image {
    width: 20px;
  }

  a.project-title,
  .live-demo {
    font-size: 12px;
  }

  p.project-desc {
    font-size: 12px;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .project-row {
    flex-direction: column;
    align-items: center;
  }

  section.project-item {
    width: 40em;
    height: 27.5em;
  }

  section.lang-images {
    width: 10vw;
  }

  .contact-links {
    flex-direction: column;
    align-items: center;
  }

  a.contact-link {
    flex-direction: row;
    width: 20vw;
  }
}

@media screen and (max-width: 600px) and (min-width: 500px) {
  .project-row {
    flex-direction: column;
    align-items: center;
  }

  section.project-item {
    width: 30em;
    height: 27.5em;
  }

  section.lang-images {
    width: 10vw;
  }

  .contact-links {
    flex-direction: column;
    align-items: center;
  }

  a.contact-link {
    flex-direction: row;
    width: 20vw;
  }
}

@media screen and (max-width: 500px) and (min-width: 300px) {
  .project-row {
    flex-direction: column;
    align-items: center;
  }

  section.project-item {
    width: 20em;
    height: 31.5em;
  }

  section.lang-images {
    width: 10vw;
  }

  .contact-links {
    flex-direction: column;
    align-items: center;
  }

  a.contact-link {
    flex-direction: row;
    width: 20vw;
  }
}

@media screen and (max-width: 300px) {
  .project-row {
    flex-direction: column;
    align-items: center;
  }

  section.project-item {
    width: 15em;
    height: 35em;
  }

  section.lang-images {
    width: 10vw;
  }

  .contact-links {
    flex-direction: column;
    align-items: center;
  }

  a.contact-link {
    flex-direction: row;
    width: 20vw;
  }
}
